body{
    margin: 0px;
    background-color: antiquewhite;
}
#box1{
position: sticky;
position:-webkit-sticky;
display: inline-block;
width: 100%;
height: 100px;
background: rgb(226, 75, 153);
z-index: 1;
border-radius: 2px;
}
#box1 h1{
    margin: 0px;
    padding: 0px;
    text-align:left;
    font-size: 50px;
}
hr {
    padding: 0px;
    margin: 0px;
}
ul{
    list-style:none;
    position:relative;
    display:flex;
    overflow: auto;
    text-align:justify;
    margin-top: 2px;
    padding-top: 0px;
    padding-bottom: 3px;
    height:auto;
    width: auto;
    background: rgb(226, 75, 153);
   } 
li a{
display:inline-block;
color: black;
text-align: center;
padding: 1px 1px 1px 1px;
text-decoration:none;
}
li a.nav{
color:black
}
li a:hover:not(.active) {
    background-color:#555;
    color:white;
}
#busca{
    padding-left: 580px;
text-align: right;
}
.box{
    display:grid;
    position:relative;
    align-content: initial;
    grid-template-columns:auto auto;
    width: auto;
    height: 260px;
    padding: 2px 2px 2px 2px;
    gap: 4px;
}
#box2{
    background-color: #3F60A5;
    height: 260px;
}
#box3{
    background-color: #33ddf3;
    height: 260px;
}
#box4{
    background-color: #1e1e1f;
    height: 260px;
}
#box5{
    background-color: #a53f3f;
    height: 260px;
}
#box6{
    background-color: #8da53f;
    height: 260px;
}
#box7{
    background-color: #3fa53f;
    height: 260px;
}
#box8{
position: relative;
float: right;
padding: 3px;
width: 25%;
height: 785px;
background-image: linear-gradient(105deg, rgb(251, 255, 0) 39%, rgba(51, 56, 57, 1) 96%);
}
#box9 {
    display:inline-block;
    padding-top: 3px;
    width: 100%;
    height: 40px;
    background: rgb(194, 47, 65); }
    .social-bar {
        position: fixed;
        right: 0;
        top: 63%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }
    .icon {
        color: white;
        text-decoration: none;
        padding: .7rem;
        display:flex;
        transition: all .5s;
    }
    .icon-facebook {
        background: #2E406E;
    }
    .icon-twitter {
        background: #339DC5;
    }
    .icon-youtube {
        background: #E83028;
    }
    .icon-instagram {
        background: #3F60A5;
    }
    .icon-whatsapp {
        background: #76e74d ;
    }
    .icon:first-child {
        border-radius: 1rem 0 0 0;
    }
    .icon:last-child {
        border-radius: 0 0 0 1rem;
    }
    .icon:hover {
        padding-right: 3rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    }
