.nav-link{color:rgba(255, 187, 0);
margin: 15px;
}
.btn-outline-warning:hover{
background-color: rgb(229, 249, 10);
}
h1{color:rgba(255, 187, 0);}
.dropdown-item{   
color: rgb(255, 187, 0);
margin: 0px;
}
.navbar{
align-self:baseline;
height: 70px;
}
.rounded-circle {
position: relative;
width: 50px;
height: 50px;
} 
.nav-item .nav-item .btn{
text-align: justify;
justify-content:space-evenly;
}
/* carrusel */
.d-block{height: 600px;
}
/* CARDS */
.texto{
text-align: center;
text-shadow: 1px 2px 1px rgb(200, 198, 198);}
.card{
border-radius: 10%;
width:85%;
height:300px;
box-sizing: border-box;
text-align: center;
margin: 10px 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover{box-shadow:rgba(232, 234, 103, 0.797) 0px 8px 24px;
}
.card-img-top{
width:100px;
height:100px;
align-self: center;
}
.card a{color: rgba(255, 187, 0)}
/* privado */
.priv{
  text-align: center;
  margin-right: 50px;
}
/* formulario contactos */
#formcontact{
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 50px;
  background-color: #f2f884;
}
.contact1{ 
margin-top: 26px;
margin-bottom: 5px;
font-size:56px;
padding-right:80px;
writing-mode: vertical-lr;
}
.rescontacto{
height: 1000px;
padding-top: 200px;
text-align: center;
background-color: #f2f884;
}
.box-somos{
  height: 1200px;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 50px;
  background-color: #f2f884;
}
/* barra social */
.social-bar {
position: fixed;
right: 0;
top: 69%;
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-end;
z-index: 100;
}
.icon {
color: white;
text-decoration: none;
padding: .7rem;
display:flex;
transition: all .5s;
}
.icon-facebook {
background: #2E406E;
}
.icon-twitter {
background: #339DC5;
}
.icon-instagram {
background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.icon-whatsapp {
background: #76e74d ;
}
.icon:first-child {
border-radius: 1rem 0 0 0;
}
.icon:last-child {
border-radius: 0 0 0 1rem;
}
.icon:hover {
padding-right: 3rem;
border-radius: 1rem 0 0 1rem;
box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
/* page somos */
.container {  display: grid;
grid-template-columns: 1fr 1fr 1fr 1.1fr 0.9fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 3px 3px;
grid-auto-flow: row;
grid-template-areas:
"full escrito1 escrito1 escrito1 ."
"full escrito2 escrito2 imagen1 imagen1"
"full escrito2 escrito2 imagen1 imagen1"
"full escrito2 escrito2 fot4 fot4";
width: 100%;
height: 768px;
}
.escrito1 { grid-area: escrito1;}
.imagen1 { grid-area: imagen1;  }
.escrito2 { grid-area: escrito2;  }
.fot4 { grid-area: fot4;  }
.full { grid-area: full;  }

/* query */
@media only screen and (max-width : 320px) {
.contact1{display:none;}
#formcontact{margin:0px;
width: 100%;
height:auto;}
#fomrcontact b{display:none;}
.card-img-top{display:none}
.carousel{display:none}
.rounded-circle{display:none;}
h3{font-size: calc(1em + 1vw);display:block;}
h5{font-size: calc(1em + 1vw);display:block;}
.titulo1{font-size: calc(1em + 1vw);}
.texto{padding-top:60px;}
}
@media only screen and (max-width : 768px) {
}
@media only screen and (max-width : 244px) {
.titulo1{font-size:small;}
}