main{background-color:#f2f884 ;}  
#texto{font-size:xx-large; font-weight:bold; color: rgba(255, 187, 0);}
#texto:before{
content:"Neumaticos Centro";color: rgba(255, 187, 0)4}
.box{background-color: rgb(255, 255, 255);}
.nav-link{color:rgba(255, 187, 0);
margin: 15px;
}
.nav-link:hover{color:black}
.btn-outline-warning{background-color: #f2f884;
}
.btn-outline-warning:hover{
background-color: rgb(243, 201, 66);
color:black;
}
h1{
  color:rgba(255, 187, 0);}
.dropdown-item{   
color: rgb(255, 187, 0);
margin: 0px;
}
.navbar{
align-self:baseline;
height: 70px;
}
.rounded-circle {
width: 55px;
height: 55px;
} 
.nav-item .btn{
text-align: justify;
justify-content:space-evenly;
}
/* carrusel */
.d-block{height: 600px;
}
/* CARDS */
.texto{
text-align: center;
text-shadow: 1px 2px 1px rgb(200, 198, 198);}
.card{
border-radius: 10%;
width:85%;
height:300px;
box-sizing: border-box;
text-align: center;
margin: 10px 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover{box-shadow:rgba(232, 234, 103, 0.797) 0px 8px 24px;
}
.card-img-top{
width:100px;
height:100px;
align-self: center;
}
.card a{color: rgba(255, 187, 0)}
/* privado */
.priv{
  text-align: center;
  margin-right: 50px;
}
/* formulario contactos */
#formcontact{
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 50px;
  background-color: #f2f884;
}
.contact1{ 
margin-top: 26px;
margin-bottom: 5px;
font-size:56px;
padding-right:80px;
writing-mode: vertical-lr;
}
.textarea1{ height: 100px;
width: 350px;}
.rescontacto{
height: 1000px;
padding-top: 200px;
text-align: center;
background-color: #f2f884;
}
.box-somos{
  height: 1200px;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 50px;
  background-color: #f2f884;
}
/* barra social */
.social-bar {
position: fixed;
right: 0;
top: 69%;
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-end;
z-index: 100;
}
.icon {
color: white;
text-decoration: none;
padding: .7rem;
display:flex;
transition: all .5s;
}
.icon-facebook {
background: #2E406E;
}
.icon-twitter {
background: #339DC5;
}
.icon-instagram {
background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.icon-whatsapp {
background: #76e74d ;
}
.icon:first-child {
border-radius: 1rem 0 0 0;
}
.icon:last-child {
border-radius: 0 0 0 1rem;
}
.icon:hover {
padding-right: 3rem;
border-radius: 1rem 0 0 1rem;
box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
/* page somos */
.container {  display: grid;
grid-template-columns: 1fr 1fr 1fr 1.1fr 0.9fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 3px 3px;
grid-auto-flow: row;
grid-template-areas:
"full escrito1 escrito1 escrito1 ."
"full escrito2 escrito2 imagen1 imagen1"
"full escrito2 escrito2 imagen1 imagen1"
"full escrito2 escrito2 fot4 fot4";
width: 100%;
height: 768px;
}
.escrito1 { grid-area: escrito1;}
.imagen1 { grid-area: imagen1;  }
.escrito2 { grid-area: escrito2;  }
.foto4 { grid-area: fot4;  }
.full { grid-area: full;  }

/* query */

@media only screen and (max-width : 768px) {.textarea1{columns:auto;overflow: scroll;}
.box-somos img{display:none}
.titulo1:before{content: attr(data-desktoptext);}
}
@media only screen and (max-width : 577px) {.contact1{margin:0px;display:none;}
#formcontact{margin:0px;margin-top:50px;display:block;
width:auto;
height:auto;}
#fomrcontact b{display:none;}
.card-img-top{display:none}
.carousel{display:none}
.rounded-circle{display:none;}
h3{font-size: calc(1em + 1vw);display:block;}
h5{font-size: calc(1em + 1vw);display:block;}
.titulo1{font-size: calc(1em + 1vw);display:block;}
.texto{padding-top:60px;}
}
@media only screen and (max-width : 370px) {
.titulo1:before{
content: attr(data-phonetext);}
.box-somos img{display:none;}
.contact1{display:none;}
#formcontact{margin:0px;display:block;margin-top:50px;}
.textarea1{width: auto;}
#fomrcontact b{display:none;}
.card-img-top{display:none}
.carousel{display:none}
.rounded-circle{display:none;}
h3{font-size: calc(1em + 1vw);display:block;}
h5{font-size: calc(1em + 1vw);display:block;}
.titulo1{font-size: calc(1em + 1vw);display:block;}
.texto{padding-top:60px;}
}
@media only screen and (max-width : 244px) {#formcontact{margin:0px;display:block;
  width:auto;
height:auto;}
.collapse-navbar{width:auto;
height:auto;}
.contact1{margin:0px;display:none;}
.titulo1{font-size: calc(1em + 1vw);display:block;}
}
/*query titulo page*/
@media (max-width:900px) and (min-width:450px) {
#texto:before { content: "Neumaticos Centro";}
}
@media (max-width:400px){
#texto:before {content: "N Centro";}
}